# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.so

.claude

# Virtual environments
.venv/
venv/
env/
ENV/
.venv-linux/

# OS files
.DS_Store
Thumbs.db

# Large files
*.h5
*.pkl
*.pth
*.zip

# Don't commit external repos if accidentally cloned here
external/CFDPython/
external/harmonic-pinn/

# Jupyter
.ipynb_checkpoints


# Trackers
trackers/
paper/

# External resources and data sets
resources/papers/

Mars Soil Temperatures and Thermal Properties from Annual Wave Data.xlsx
Mars Soil Temperatures and Thermal Properties from Diurnal Wave data.xlsx